Repository martadinata666/ampache: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-release, docker-build-git

docker-build-release:
  image: docker:dind
  stage: build
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
  ...

docker-build-git:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
  ...

Change docker:dind to docker:latest
  .gitlab-ci.yml
Due: docker-build-release

Change to env
  Dockerfile
Due: docker-build-release

Use real values
  .gitlab-ci.yml
  Dockerfile
Due: docker-build-release

Copy arg to env
  Dockerfile
Due: docker-build-release

Fix download link
  Dockerfile
Due: docker-build-release

Revert build arg
  .gitlab-ci.yml
Due: docker-build-release

Let the container download
  Dockerfile
Due: docker-build-release

Make wget download files
  Dockerfile
Due: docker-build-release

Make wget download files and rename files
  Dockerfile
Due: docker-build-release

Fix clean name
  Dockerfile
Due: docker-build-release

Change Dockerfile git
  .gitlab-ci.yml
Due: docker-build-release

Fix typo
  .gitlab-ci.yml
Due: docker-build-release

Add ffmpeg for transcoding
  Dockerfile
  Dockerfile.git
Due: docker-build-release, docker-build-git

Exclude release build from schedules
  .gitlab-ci.yml
Due: docker-build-release

Add except
  .gitlab-ci.yml
Due: docker-build-release

Make GIT build on manual or scheduled
  .gitlab-ci.yml
Due: docker-build-release

Add php7-intel
  Dockerfile.git
Due: docker-build-git

Bump version 4.3.0
  .gitlab-ci.yml
Due: docker-build-release

latest tag follow stable version
  .gitlab-ci.yml
Due: docker-build-release

Add missing tag
  .gitlab-ci.yml
Due: docker-build-release

Change version do dockerfile, update to 4.4.0
  .gitlab-ci.yml
  Dockerfile
Due: docker-build-release

Add release ver
  .gitlab-ci.yml
Due: docker-build-release

Revise
  Dockerfile.git
Due: docker-build-git

Revise
  Dockerfile
Due: docker-build-release

Clean zip
  Dockerfile
Due: docker-build-release

Test extract permission
  Dockerfile
Due: docker-build-release

Test extract permission #1
  Dockerfile
Due: docker-build-release

Get file from git
  Dockerfile.git
Due: docker-build-git

clean htdocs folder before clone
  Dockerfile.git
Due: docker-build-git

Only clone public folder
  Dockerfile.git
Due: docker-build-git

Copy out /public to root
  Dockerfile.git
Due: docker-build-git

Fix path
  Dockerfile.git
Due: docker-build-git

Path conditions:
  docker-build-release: any of: Dockerfile, .gitlab-ci.yml
  docker-build-git: any of: Dockerfile.git
