Repository martadinata666/ampache: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-buildx-stable, docker-build-git, docker-build-php8

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
variables:
  RELEASE: "4.4.0"
  BRANCH: "edge-php8"
  DOCKERHOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

docker-buildx-stable:
  # Official docker image.
  image: registry.gitlab.com/dedyms/docker-with-buildx:0.5.1
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
    - docker run --rm --privileged docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64
  script:
    #- docker build --pull -t "$CI_REGISTRY_IMAGE:$DATE" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$DATE" .
    #- docker push "$CI_REGISTRY_IMAGE:$DATE"
    #- docker push "$CI_DOCKERHUB_REGISTRY_IMAGE:$DATE"
    - docker buildx create --use
    - docker buildx inspect --bootstrap
    - docker buildx build --push --platform linux/arm64/v8,linux/amd64 -t "$CI_REGISTRY_IMAGE:$RELEASE" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE" -t "$CI_REGISTRY_IMAGE" -t "$CI_DOCKERHUB_REGISTRY_IMAGE" .
  only:
    refs:
      - master
      - schedules
    changes:
      - Dockerfile
      - .gitlab-ci.yml

docker-build-git:
# git docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script: 
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:git" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:git" . -f Dockerfile.git
    - docker push "$CI_REGISTRY_IMAGE:git"
    - docker push "$CI_DOCKERHUB_REGISTRY_IMAGE:git"
  only:
    refs:
      - master
      - schedules
    changes:
      - Dockerfile.git

docker-build-php8:
# git docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$BRANCH" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$BRANCH" . -f Dockerfile.php8
    - docker push "$CI_REGISTRY_IMAGE:$BRANCH"
    - docker push "$CI_DOCKERHUB_REGISTRY_IMAGE:$BRANCH"
  only:
    refs:
      - master
      - schedules
    changes:
      - Dockerfile.php8
      - composer.json.php8

Stripping locale & some hidden git blob
  Dockerfile
  Dockerfile.ffmpeg
Due: docker-buildx-stable

Fix rm -rf
  Dockerfile
  Dockerfile.ffmpeg
Due: docker-buildx-stable

missing backslash
  Dockerfile
  Dockerfile.ffmpeg
Due: docker-buildx-stable

add build arg
  .gitlab-ci.yml
Due: docker-buildx-stable

add fpm build
  .gitlab-ci.yml
Due: docker-buildx-stable

Add fpm dockerfile
  Dockerfile.fpm
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: docker-buildx-stable

Volume /var/www/html
  Dockerfile.fpm
Due: none

Update Dockerfile.fpm
  Dockerfile.fpm
Due: none

Update Dockerfile.fpm
  Dockerfile.fpm-apache
Due: none

Add new file
  Dockerfile.fpm-nginx
Due: none

Add new file
  default.conf
Due: none

Update Dockerfile.fpm-apache
  Dockerfile.fpm-apache
Due: none

Update Dockerfile.fpm-nginx
  Dockerfile.fpm-nginx
Due: none

Update default.conf
  default.conf
Due: none

Copy default.conf
  Dockerfile.fpm-nginx
Due: none

Add fcgid config, as base image doesnt use public path
  ampache-fcgid.conf
Due: none

Add new file
  ampache-ssl-fcgid.conf
Due: none

add ports.conf
  ports.conf
Due: none

cleanup
  Dockerfile.fpm-nginx
  check.php.php8
  composer.json.php8
Due: docker-build-php8

Update ports.conf
  ports.conf
Due: none

test
  Dockerfile.fpm-apache
Due: none

Remove copy check
  Dockerfile.php8
Due: docker-build-php8

Add somecleanup
  Dockerfile.fpm-apache
Due: none

change ports to 8080 and 8443
  default.conf
Due: none

Add back fpm-nginx build
  Dockerfile.fpm-nginx
Due: none

remove typo
  Dockerfile.fpm-nginx
Due: none
