Repository martadinata666/ampache: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-buildx-stable, docker-build-git, docker-build-fpm-nginx, docker-build-fpm-apache, docker-build-php8

docker-buildx-stable:
  image: registry.gitlab.com/dedyms/docker-with-buildx:0.5.1
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  ...

docker-build-git:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
  ...

docker-build-fpm-nginx:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
  ...

docker-build-fpm-apache:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - export TAG="git-fpm-apache"
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
  ...

docker-build-php8:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
  ...

Change to default subsonic 4040
  default.conf
Due: none

Update default.conf
  default.conf
Due: none

change port to 4040 and 4443
  ampache-fcgid.conf
  ampache-ssl-fcgid.conf
Due: none

revert back
  ampache-fcgid.conf
  ampache-ssl-fcgid.conf
Due: none

add volume for config dir
  Dockerfile.fpm-apache
  Dockerfile.fpm-nginx
Due: docker-build-fpm-nginx, docker-build-fpm-apache

set default workdir
  Dockerfile.fpm-apache
  Dockerfile.fpm-nginx
Due: docker-build-fpm-nginx, docker-build-fpm-apache

Add php7-gettext dep
  Dockerfile
Due: docker-buildx-stable

add php7-gettext
  Dockerfile.ffmpeg
Due: none

add php7-gettext
  Dockerfile.fpm-apache
Due: docker-build-fpm-apache

add php7-gettext
  Dockerfile.fpm-nginx
Due: docker-build-fpm-nginx

add php7-gettext
  Dockerfile.git
Due: docker-build-git

Build using buildx
  .gitlab-ci.yml
Due: none

Remove volume docs root
  Dockerfile.fpm-nginx
Due: docker-build-fpm-nginx

Rebase
  Dockerfile.git
Due: docker-build-git

rebase and revise
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.ffmpeg
  Dockerfile.fpm-apache
  Dockerfile.git
  Dockerfile.php8
  httpd.conf
Due: docker-buildx-stable, docker-build-git, docker-build-fpm-apache, docker-build-php8

fix dockerfile
  Dockerfile.git
  Dockerfile.php8
Due: docker-build-git, docker-build-php8

fix job
  .gitlab-ci.yml
Due: none

fix download path
  Dockerfile
  Dockerfile.ffmpeg
Due: docker-buildx-stable

fix download link
  Dockerfile
  Dockerfile.ffmpeg
Due: docker-buildx-stable

fix extract
  Dockerfile
  Dockerfile.ffmpeg
Due: docker-buildx-stable

update dockerfile
  Dockerfile
  Dockerfile.ffmpeg
Due: docker-buildx-stable

optimize
  Dockerfile
Due: docker-buildx-stable

optimize
  Dockerfile.ffmpeg
Due: none

rm index.html
  Dockerfile.git
Due: docker-build-git

Update job name [.gitlab-ci.yml]
  .gitlab-ci.yml
Due: none

rebase to nginx:sid [Dockerfile.fpm-nginx]
  Dockerfile.fpm-nginx
Due: docker-build-fpm-nginx

use buildx [.gitlab-ci.yml]
  .gitlab-ci.yml
Due: none

remove php8 [.gitlab-ci.yml]
  .gitlab-ci.yml
  Dockerfile.php8
  php.ini.php8
Due: docker-build-php8

up [php.ini]
  php.ini
Due: none

remove php.ini
  php.ini
Due: none

remove git
  .gitlab-ci.yml
  Dockerfile.git
Due: docker-build-git

fix path [Dockerfile.build]
  Dockerfile.build
Due: none

add arm64 [.gitlab-ci.yml]
  .gitlab-ci.yml
Due: none

add git [Dockerfile.build]
  Dockerfile.build
Due: none

change build to copy [Dockerfile.fpm-apache, Dockerfile.fpm-nginx]
  Dockerfile.fpm-apache
  Dockerfile.fpm-nginx
Due: docker-build-fpm-nginx, docker-build-fpm-apache

update CI [.gitlab-ci.yml]
  .gitlab-ci.yml
Due: none

remove fpm-apache [.gitlab-ci.yml]
  .gitlab-ci.yml
  Dockerfile.fpm-apache
  ampache-fcgid.conf
  ampache-ssl-fcgid.conf
Due: docker-build-fpm-apache

change tag git-fpm-nginx to git-fpm [.gitlab-ci.yml]
  .gitlab-ci.yml
Due: none

Path conditions:
  docker-buildx-stable: any of: Dockerfile
  docker-build-git: any of: Dockerfile.git
  docker-build-fpm-nginx: any of: Dockerfile.fpm-nginx
  docker-build-fpm-apache: any of: Dockerfile.fpm-apache
  docker-build-php8: any of: Dockerfile.php8, composer.json.php8
